body {
background-color: lightblue;
}

.navbar {
border: 4px solid black;
 display: flex;
 align-items: center;
}

.title {
	 display: flex;
    align-items: center;
}

.game-container {
	 display: flex;
    align-items: center;
}